@model IEnumerable<FlowersShop.Models.Account>

@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<link href="~/Content/assets/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title">Categories </h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a href="@Url.Action("Index", "HomeAdmin")">FlowersShop</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Accounts")">Accounts</a>
                </li>
                <li class="active">
                    List Account
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="clearfix">
                    <div class="pull-left">
                        <h3><img src="~/Content/assets/images/logo_sm.png" alt="" height="24"> List Account </h3>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="myData" class="table m-t-30">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Username)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Phone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Role.Name)
                                        </th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Username)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Phone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Role.Name)
                                        </th>
                                        <th>Option</th>
                                    </tr>
                                </tfoot>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Role.Name)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { username = item.Username }) |
                                            @Html.ActionLink("Delete", "Delete", new { username = item.Username })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="~/Content/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $('#myData').DataTable();
</script>