@using FlowersShop.ViewModels

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = (List<Item>)Session["cart"];
    decimal s = 0;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<h2>CheckOut</h2>

@if (list != null)
{
    using (Html.BeginForm())
    {
        <table style="border: black 1px solid">
            <tr>
                <th>Name</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            @foreach (var item in list)
            {
                s += item.Product.Price.Value * item.Quantity;
                <tr>
                    <td>@item.Product.Name</td>
                    <td><img src="~/Content/imgs/@item.Product.Photo" width="30" height="30" /></td>
                    <td>@item.Product.Price</td>
                    <td>
                        <input readonly="readonly" id="quantity" type="text" value="@item.Quantity" />&nbsp;
                        <span id="errmsg"></span>
                    </td>
                    <td><b>@(item.Product.Price * item.Quantity)</b></td>
                </tr>
            }
            <tr>
                <td colspan="4" style="text-align: right"><b>Total</b></td>
                <td id="total">@s</td>
            </tr>
        </table>
    }
}

@using (Html.BeginForm("Success", "ShoppingCart", FormMethod.Post, new { id = "cus-form" }))
{
    <table>
        <tr>
            <td colspan="2" style="text-align: center">Thông tin khách hàng</td>
        </tr>
        <tr>
            <td>Tên khách hàng: </td>
            <td><input type="text" name="cusName" /></td>
        </tr>
        <tr>
            <td>Địa chỉ: </td>
            <td><input type="text" name="cusDiaChi" /></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="text" name="cusEmail" /></td>
        </tr>
        <tr>
            <td>Điện thoại: </td>
            <td><input type="text" name="cusDienThoai" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Đặt hàng" /></td>
        </tr>
    </table>
}

<script type="text/javascript">
    $('#cus-form').validate({
        rules: {
            cusName: {
                required: true
            },
            cusDiaChi: {
                required: true
            },
            cusEmail: {
                required: true
            },
            cusDienThoai: {
                required: true
            }
        }
    });
</script>